$theme-colors: (
  "primary": #573393,
  "info": #22b0fc,
  "secondary":#343A40,
  "secondary-dark":#4A4A4A,
  "danger": #fff555,
  "dark": #7c8087,
  "light": #F6F6F6,
  "dark-light": #DADADA,
  "full-dark": #4A4A4A,
);
$display-font-sizes: (
  1: 5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 1.5rem,
  7: 1.35rem
);
$display-font-weight: 700;


@import '~bootstrap/scss/bootstrap.scss';