html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
  color: rgb(74, 74, 74) !important; 
}
body {
  margin: 0;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  font-family: "Lato", sans-serif;
  color: rgb(74, 74, 74) !important; 
}
.border2{ border:2px solid red;}
.border3{ border:2px solid blue;}
.text-center {
	text-align: center !important;
}
.renters-block{
  background-image: url('../assets/images/renters-block-bg.png');
  background-repeat: no-repeat;
  background-size:100% auto;
  padding-bottom: 10rem;
}
p, span, a, li, li a,
h2, h3, h4, h5, h6{font-family: 'Lato', sans-serif !important;}
h1{ line-height:1.3 !important;font-family: 'Merriweather', serif;}
a{ text-decoration: none;}
.no-padding{ padding:0px !important; margin: 0px !important;}
.bm-menu-wrap{ width: 300px !important; min-width: 100%;}
.bg-dark {
	background-color: #343a40 !important;
}
.font-weight-bold {
	font-weight: 700 !important;
}
.site-header .nav-link,
.site-header .site-headera.nav-link{
    color: rgb(74, 74, 74);
}
.site-header a.nav-link:hover{
  color: rgb(74, 74, 74) !important;
}
footer .nav-link{
  padding: 0.3rem 0rem;
}
#page-wrap{ display: none;}
.site-header{background-color: #fff;transition: all .2s ease-in-out; padding:0px !important; margin:0px !important;}
.site-header.bordered{border-bottom: 1px solid rgb(218, 218, 218);transition: all .2s ease-in-out;}
.position-sticky{
  position: fixed !important;
  top:0px;
  
  z-index: 999 !important;
} 
.font-size-3 {
	font-size: 0.8125rem;
	line-height: 1.53846;
}
.font-size-5 {
  font-size: 1rem;
  line-height: 1.75;
}
.font-size-6 {
	font-size: 1.125rem;
	line-height: 1.77777;
}

.text-white {
  color: #fff !important;
}
.slick-slider{ width:100%; overflow: hidden;}
.form-container{ min-height: 500px;}
footer a{ text-decoration: none;}
.play-store{ width:150px; float: left;border-radius: 5px;border: 1px solid rgb(74, 74, 74); padding: 15px; cursor: pointer;}
.play-store:hover{background-color: rgba(255, 255, 255, 0.05)}
.footer-social svg{ fill:rgba(255, 255, 255, 0.5) !important; width: calc(1.675rem + 0.3vw);}
@media (min-width: 1200px)
{
h1.display-4 {
    font-size: 2.65rem !important;
}
}
@media (min-width: 992px) {
  .animation-left{margin-top: -5rem !important;}
  .animation-right{margin-top: -8rem !important;}
  .testimonials-up{ padding-bottom: 190px;}
  .testimonials-container{ margin-top: -240px;}
  .home .bm-menu-wrap{ display: none;}
  .mb-lg-24, .my-lg-24 {
    margin-bottom: 6.875rem !important;
  }
  .pt-lg-20, .py-lg-20 {
    padding-top: 5.3125rem !important;
  }  
  .top-price-btn{ display: none;
    transition: transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
    transform: translateY(-100px);
  }
  .scrolled .top-price-btn{
    display: block;
    transform: translateY(0px);
  }
 
  .logo img{
    filter: grayscale(100%);
  }
  .normal.logo{
    margin-top:4.225rem !important;
    transition: all .2s ease-in-out;
  }
  .sticky.logo{
    margin-top:0.55rem !important;
    transition: all .2s ease-in-out;
  }
  .font-size-11 {
    font-size: 3.625rem;
    line-height: 1.10344;
  }
  h1.display-4 {
    font-size: 2.35rem !important;
  } 
  }
  @media (max-width: 991px) {
    
    .f-logo{ display: flex; justify-content: center; margin-bottom: 2.3125rem !important;}
    .normal.logo,.sticky.logo{
      margin-top:0.55rem !important;
    }
    .pt-sm-10 {
      margin-top: 2.8875rem !important;
    }
    .font-size-11 {
      font-size: 2.8rem;
      line-height: 1.10344;
    }
    .font-size-4 {
      font-size: 0.875rem;
      line-height: 1;
    }
    .px-sm-10{padding-left: 0.8rem !important; padding-right: 0.8rem !important;}
  }
@media (min-width: 768px) {
  .pt-md-15, .py-md-15 {
    padding-top: 3.75rem !important;
  }
  .pt-md-15, .py-md-15 {
    padding-top: 3.75rem !important;
  }
  .pb-md-25, .py-md-25 {
    padding-bottom: 7.5rem !important;
  }
  .pl-lg-5, .px-lg-5 {
    padding-left: 0.75rem !important;
  }
  .pr-lg-5, .px-lg-5 {
    padding-right: 0.75rem !important;
  }

}
.form-head{ 
  overflow: hidden;
  background-image:url(../assets/images/form-head-bg3.png) !important;
  background-size: 100% auto;
  background-repeat:repeat-x !important;
  background-position: center center;
}
@media only screen and (min-width:768px) and (max-width:991px){
  .animation-block .display-4{
    font-size: calc(0.775rem + 1.2vw);
      font-weight: 700;
      line-height: 1.2;
  }
  .animation-left{margin-top: -4rem !important;}
  .animation-right{margin-top: -7rem !important;}
}
@media only screen and (min-width:300px) and (max-width:767px){
.container-sm, .container {
    max-width: 100% !important;
}
}
@media (min-width: 768px) {
.main-banner{ background-image:url(../assets/images/home-banner.jpg);
  background-position:top center;
  background-repeat:no-repeat;
  background-size:cover;}
  .round-block{ width:100px; height: 100px;  }
  .form-head{ height: 100px;}
  .form-sub-heading{ line-height: 2.7rem !important; font-size: 2.3rem !important;}
  .customradiobtn label span {
    font-size: 1.2rem !important;
  }
  .hero-mid-content{
    position: absolute !important;
    top:40%;
    left:50%;
    transform: translate(-50%, -50%) !important;
  }

}
@media (max-width: 768px) {
 
  .animation-mid-block.col-sm-12{
    max-width: 600px;
    z-index: 99 !important;    
  }
  .animation-right{ margin-top: -9rem !important; width:400px !important; z-index: 0 !important;}
  .round-block{ width:75px; height: 75px;  }
  .form-head{ height: 75px;}
  .form-sub-heading{ line-height: 1.8rem !important; font-size: 1.6rem !important;}
  .col-md-8.col-sm-10 {
    flex: 0 0 auto !important;
    width: 83.33333333%;
  }
  .col-md-6.col-xs-6
  {
    flex: 0 0 auto !important;
    width: 50% !important;
  }
  .container-sm, .container {
      max-width: 100%;
  }
  .pt-md-15, .py-md-15 {
    padding-top: 3.75rem !important;
  }
  .pt-sm-5.mt-sm-5
  {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
  }
  .py-md-4.py-sm-4
  {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }
  .customradiobtn label span {
    font-size: 1rem !important;
  }
}
@media (max-width: 575px) {
  .animation-mid-block .display-4 {
      font-size: calc(1rem + 2vw);
      line-height: 1.5;
  }
  .animation-mid-block.col-sm-12{
    max-width: 100%;
    padding-left:1rem !important;
    padding-right: 1rem !important;
    z-index: 99 !important;    
  }
  .animation-right{
    margin-top: -6rem !important;
    width:250px !important;
    z-index: 0;
  }
  .justify-content-sm-center {
      justify-content: center !important;
  }
  .d-sm-none {
      display: none !important;
  }
  .p-sm-3 {
      padding: 1rem !important;
  }
  .m-sm-5 {
      margin: 3rem !important;
  }
  .pt-sm-4 {
      padding-top: 1.5rem !important;
  }
  .px-sm-3.py-sm-3
  {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }
  .ps-sm-4
  {
    padding-left: 2.5rem !important;
  }
  footer .col-sm-6.col-xs-12{
    max-width: 360px;
    float: none;
    margin: auto;
  }
  .my-sm-4 {
      margin-top: 1.5rem !important;
      margin-bottom: 1.5rem !important;
  }
  .py-sm-4 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
  }
  .py-sm-2 {
    padding-top: 0.75rem !important;
    padding-bottom: 0.75rem !important;
  }
  .me-md-4{
    margin-right: 1.5rem !important;
  }
}
@media (max-width: 440px) {
  .customradiobtn label span {
    font-size: 1rem !important;
  }
  .customradiobtn.first-level{ display: flex !important; flex-direction:column;}
  .customradiobtn.first-level .col-md-6.col-xs-6{width:190px !important; max-width: 100% !important; float:none; margin:auto;}
  .customradiobtn .col-md-6.col-xs-6{ padding-left:5px !important; padding-right: 5px !important;}
}
.pr-10, .px-10 {
	padding-right: 1.5875rem !important;
}
.mb-8, .my-8 {
	margin-bottom: 1.5625rem !important;
}
.mb-6, .my-6 {
	margin-bottom: 1.2625rem !important;
}
.mt-5, .my-5 {
	margin-top: 1.075rem !important;
}
.mb-5, .my-5 {
	margin-top: 1.075rem !important;
}
.mt-4, .my-4 {
	margin-top: 0.875rem !important;
}
.mb-4, .my-4 {
	margin-top: 0.875rem !important;
}
.mt-2, .my-2 {
	margin-top: 0.475rem !important;
}
.mb-2, .my-2 {
	margin-top: 0.475rem !important;
}
.mr-6, .mx-6 {
	margin-right: 1rem !important;
}
.mb-7, .my-7 {
	margin-bottom: 1.25rem !important;
}
.mt-10, .my-10 {
	margin-top: 2.1875rem !important;
}
.shadow-4 {
	box-shadow: 0 32px 54px rgba(65, 74, 85, 0.22);
}
.rounded-sm {
	border-radius: 0.3125rem !important;
}
.btn-primary{
  padding: 0.75rem 1.5625rem!important;;
}
.border2{ border:2px solid red;}
.video-pop a{ cursor: pointer;}
.video-pop svg{ width:20px; height:20px; margin-right: 8px; fill:#22b0fc}
.input_wrap.select-box select{
  width:300px;
  max-width: 100%;
}
.circle-55 {
	max-width: 55px;
	min-width: 55px;
	max-height: 55px;
	min-height: 55px;
	border-radius: 500px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.testimonial-item.rounded-3 {
	border-radius: 0.65rem !important;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 8px 0px, rgba(0, 0, 0, 0.16) 0px 31px 30px -18px;
}




.customradiobtn label {
  display: flex;
  cursor: pointer;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  margin-bottom: 0.375em;

}
.customradiobtn label input {
  position: absolute;
  left: -9999px;
}
.customradiobtn label input:checked + span:before {
  box-shadow: inset 0 0 0 0.4375em #573393;
}
.customradiobtn label span {
  display: flex;
  align-items: center;
  padding: 0.375em 0.75em 0.375em 0.375em;
  border-radius: 99em;
  transition: 0.25s ease;
  line-height: 1.4rem !important;
}
.customradiobtn label span:before {
  display: flex;
  flex-shrink: 0;
  content: "";
  background-color: #fff;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  margin-right: 0.375em;
  transition: 0.25s ease;
  box-shadow: inset 0 0 0 0.125em #573393;
}
